	<!doctype html>
	<html>
		<head>
			<title>
				Whiztok
			</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/answer.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
			<link href="stylesheets/head.css" rel="stylesheet" type="text/css">
			<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap.js"></script>
			<script type="text/javascript" src="javascripts/script.js"></script>
			<script type="text/javascript" src="socket.io/socket.io.js"></script>
			<script type="text/javascript" src="javascripts/clients.js"></script>			
		</head>
		<body>
			<%-include videomodel%>
			<%-include header%>
			<div class="container-fluid row">
				<div class="row">
					<div class=" col-md-2 hidden-xs" id="left_bar">
						<div class="row">
							<div class="propic_wrapper">
								<div class="col-md-12 pic_out">
									<div class="col-md-6 col-md-offset-3 profile_pic ">
										<img src="<%=image%>" height="70px" width="70px" class="img-circle">
									</div>
								</div>
								<div class="col-md-12 name_out">
									<div class="name_in"><div class="namein"><%=user.fullName%></div></div>
									<input style="display:none" type="text" id="user_id" value=<%=user._id%> />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="list_wrapper">
								<ul>
									<li><span class="line"></span><span  id="op_dash"></span> <a  class="override" href="/dashboard">Dashboard</a></li>
									<li><span class="line"></span><span id="op_ask"></span><a class="override" href="/ask">Ask a Question</a></li>
									<li><span class="line"></span><span id="op_grp"></span><a class="override" href="/mygroups">My Groups</a></li>
									<li><span class="line"></span><span id="op_pro"></span><a class="override" href="/profile">Profile</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="right_bar col-md-10 col-xs-12">
						<div class="title_bar row">
							<div class="title1"><span id="home"></span><a href="/dashboard">Home</a></div>
							<div class="title2"><span id="dash"></span>Question</div>
						</div>
						<div class="heading col-md-12">
							<div class="col-md-4 heading_name">
								<div class="row h_name">
									<div class="h_name_in">Question</div>
								</div>
							</div>
						</div>
						<div class="question col-xs-12">
							<div class="question_header col-xs-12">
								
							</div>
							<div id="question_desc" class="col-xs-12 thumbnail">
								
							
								
							</div>
							<div class="answer"><button  class="btn but" id="ans">Answer</button>
							</div>


							<div class="modal fade"id="whenpopup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								
								<form id="polling" name="polling" action="/polling" method="post">
								  <div class="modal-dialog modal-sm">
								    <div class="modal-content">
								      <div class="when">
										<div class="col-md-4 col-md-offset-1">
											<div class="input-group">
												<input style="display:none" type="text" name="id" value=<%=id%> >
												<input type="radio" name="now" id="rad2">
												<label>Now</label>
											</div><!-- /input-group -->
										</div><!-- /.col-lg-6 -->
										<div class="col-md-5 col-md-offset-2">
											<div class="input-group">
												<input type="radio" name="later" id="rad">
												<label>Later</label>
											</div><!-- /input-group -->
										</div><!-- /.col-lg-6 -->
									  
										<div class="timings">
											
											<label class="col-md-4 col-md-offset-1">Timings</label>
											<input class="col-md-5 col-md-offset-1" type="time" name="timings" >
										</div>
										<div class="submit">
											
										 <button class="btn but col-md-4 col-md-offset-4">Submit</button>
										</div>
										
										</div>
								    </div>
								  </div>
								</form>
							</div>

						<div class="modal fade" id="whenpopup1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								  <div class="modal-dialog modal-sm">
								    <div class="modal-content">
								      <div class="when">
										You have already polled for this question								
									  </div>
								    </div>
								  </div>
							</div>
							<div class="modal fade" id="whenpopup2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								  <div class="modal-dialog modal-sm">
								    <div class="modal-content" >
								      <div class="when">
										You can not poll for your own asked question.					
										</div>
								    </div>
								  </div>
							</div>			
						</div>
					</div>
				</div>
			</div>
	<script type="text/javascript">
	$(document).ready(function(){
		
			$('html').css('overflow', 'hidden');
      $('#ans').click(function(){
			$.ajax({
						url:'/alreadyPolled',
                		data:{'id':'<%-id%>'},
                		type:'POST',
                		dataType: 'json',
                		cache:false,
                		beforeSend: function(){
                			console.log("before submitting the form");
                		},
                		error:function(jqXHR, textStatus, errorThrown){
                			
                		},
                		success:function(data){

                			console.log(JSON.stringify(data));
                			if(data.id)
                			{
                				$('#whenpopup2').modal('toggle');
                			}
                			else if(!data.data){
                				$('#whenpopup').modal('toggle');
                			}
                			else
                				$('#whenpopup1').modal('toggle');

                		}
			});
			
		})
		$.ajax({
                		url:'/getQuestionById',
                		data:{'id':'<%-id%>'},
                		type:'POST',
                		dataType: 'json',
                		cache:false,
                		beforeSend: function(){
                			console.log("before submitting the form");
                		},
                		error:function(jqXHR, textStatus, errorThrown){
                			 
                		},
                		success:function(data){

                			data=data.value[0];
                			
                			title=data.title;
                			desc=data.description;
                			
                			$('.question_header').html(title);
                			$('#question_desc').html(desc);
                		}
        })
	})
	</script>
	</body>
</html>