<!doctype html>

	<html>
		<head>
			<title>
				Whiztok
			</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/ask.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
			<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset-fonts/reset-fonts.css">
			<link href="stylesheets/master.css" rel="stylesheet" type="text/css">
			<link href="stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">
		    <link href="stylesheets/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
		    <link href="stylesheets/head.css" rel="stylesheet" type="text/css">
			<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap.js"></script>
			<script type="text/javascript" src="javascripts/texteditor.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="plugins/js/tag-it.js" type="text/javascript" charset="utf-8"></script>

			<script type="text/javascript" src="socket.io/socket.io.js"></script>
			<script type="text/javascript" src="javascripts/clients.js"></script>			
			<script>
        		$(function(){
            		var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
            		$('#myULTags').tagit({

               				 availableTags: sampleTags, // this param is of course optional. it's for autocomplete.
                // configure the name of the input field (will be submitted with form), default: item[tags]
                itemName: 'item',
                fieldName: 'tags'
            });
			var eventTags = $('#eventTags');
			var addEvent = function(text) {
				$('#events_container').append(text + '<br>');
			};
			eventTags.tagit({
				availableTags: sampleTags,
				beforeTagAdded: function(evt, ui) {
					if (!ui.duringInitialization) {
						addEvent('beforeTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
					}
				},
				afterTagAdded: function(evt, ui) {
					if (!ui.duringInitialization) {
						addEvent('afterTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
					}
				},
				beforeTagRemoved: function(evt, ui) {
					addEvent('beforeTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
				},
				afterTagRemoved: function(evt, ui) {
					addEvent('afterTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
				},
				onTagClicked: function(evt, ui) {
					addEvent('onTagClicked: ' + eventTags.tagit('tagLabel', ui.tag));
				},
				onTagExists: function(evt, ui) {
					addEvent('onTagExists: ' + eventTags.tagit('tagLabel', ui.existingTag));
				}

			});
		});
</script>
</head>
<body onload="iFrameOn();">

	<%-include videomodel%>

	<%-include header%>

	<div class="container-fluid row">
		<div class="row">
			<div class=" col-md-2 hidden-xs" id="left_bar">
				<div class="row">
					<div class="propic_wrapper">
						<div class="col-md-12 pic_out">
							<div class="col-md-6 col-md-offset-3 profile_pic ">
								<img src="<%=image%>" height="70px" width="70px" class="img-circle">
							</div>
						</div>
						<div class="col-md-12 name_out">
							<div class="name_in"><div class="namein"><%=user.fullName%></div></div>
							<input style="display:none" type="text" id="user_id" value=<%=user._id%> />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="list_wrapper">
						<ul>
							<li ><span class="line"></span><span  id="op_dash"></span> <a  class="override" href="/dashboard">Dashboard</a></li>
							<li class="currentPage"><span class="line"></span><span id="op_ask"></span><a class="override" href="#">Ask a Question</a></li>
							<li><span class="line"></span><span id="op_grp"></span><a class="override" href="/mygroups">My Groups</a></li>
							<li><span class="line"></span><span id="op_pro"></span><a class="override" href="/profile">Profile</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right_bar col-md-10 col-xs-12">
				<div class="title_bar row">
					<div class="title1"><span id="home"></span><a href="/dashboard">Home</a></div>
					<div class="title2"><span id="dash"></span>Ask Question</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><input id="title" type="text" autofocus="autofocus" maxlength="50" placeholder="Title" name="title"  class="txtbox" /></h3>
					</div>
					<div class="panel-body">
						
							<div  class="opt col-md-12 col-xs-12">

								<div class="col-md-12" id="texteditorWrap">
									<div class="row edit" id="editor">
										<div  class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

											<a id="one" class="btn  btn-primary" href="javascript:edit(&quot;Bold&quot;,false, &quot;&quot;);">
												<span class="glyphicon glyphicon-bold"></span>
											</a>
											<a id="two" class="btn   btn-primary" href="javascript:edit(&quot;Italic&quot;,false, &quot;&quot;);">
												<span class="glyphicon glyphicon-italic"></span>
											</a>
											<a id="three" class="btn   btn-primary" href="javascript:edit(&quot;Underline&quot;,false, &quot;&quot;);">
												<u>U</u>
											</a>
											<a id="small" href="javascript:edit(&quot;justifyleft&quot;, false, &quot;&quot;);" class="four btn btn-primary  ">
												<span class="glyphicon glyphicon-align-left"></span>
											</a>
											<a  id="small" href="javascript:edit(&quot;justifyright&quot;, false, &quot;&quot;);" class="four btn btn-primary  ">
												<span class="glyphicon glyphicon-align-right"></span>
											</a>
											<a  id="small" href="javascript:edit(&quot;justifycenter&quot;, false, &quot;&quot;);" class="four btn btn-primary  ">
												<span class="glyphicon glyphicon-align-center"></span>
											</a>
											<a  id="small" class="btn btn-primary  " href="javascript:edit(&quot;undo&quot;,false,&quot;&quot;)">
												Un
											</a>
											<a class="btn btn-primary" id="small"  href="javascript:edit(&quot;redo&quot;,false,&quot;&quot;)">
												Re
											</a>
											<a id="three" class="btn btn-primary  " href="javascript:edit(&quot;InsertUnorderedList&quot;, false,&quot;newUL&quot;)">
												Ul
											</a>
											<a id="three" class="btn btn-primary  " href="javascript:edit(&quot;InsertOrderedList&quot;, false,&quot;newOL&quot;)">
												Ol
											</a>
											<a class="btn btn-primary"  id="small"  href="javascript:link()">
												<span class="glyphicon glyphicon-link"></span>
											</a>
											<a class="btn btn-primary"  id="small"  href="javascript:edit(&quot;Unlink&quot;, false, null)">
												Uli
											</a>
											<a id="four" class="btn btn-primary  " href="javascript:edit(&quot;inserthorizontalrule&quot;,false,null)">
												Hr
											</a>
											<input id="hx" type="hidden" name="hexval" value="#000000"/>
											<select id="sel" name="textsize" class="btn-info dropdown  " onchange="edit(&quot;FontSize&quot;,false,document.getElementById(&quot;sel&quot;)[document.getElementById(&quot;sel&quot;).selectedIndex].text)">
												<option value="2">
													2
												</option>
												<option value="3">
													3
												</option>
												<option value="4">
													4
												</option>
												<option value="5">
													5
												</option>
												<option value="6">
													6
												</option>
											</select>
											<select id="fcolor" name="textcolor" class="dropdown btn btn-info  " onchange="edit(&quot;ForeColor&quot;,false,document.getElementById(&quot;fcolor&quot;)[document.getElementById(&quot;fcolor&quot;).selectedIndex].text)">
												<option value="#000">
													Color
												</option>
												<option value="#000">
													Black
												</option>
												<option value="#9400D3">
													Violet
												</option>
												<option value="#4B0082">
													Indigo
												</option>
												<option value="#0000FF">
													Blue
												</option>
												<option value="#00FF00">
													Green
												</option>
												<option value="#FFFF00">
													Yellow
												</option>
												<option value="#FF7F00">
													Orange
												</option>
												<option value="#FF0000">
													Red
												</option>
											</select>
											<select id="bcolor" name="highlight" class="dropdown btn btn-info  " onchange="edit(&quot;BackColor&quot;,false,document.getElementById(&quot;bcolor&quot;)[document.getElementById(&quot;bcolor&quot;).selectedIndex].text)">
												<option value="#FFF">
													Highlight
												</option>
												<option value="#9400D3">
													Violet
												</option>
												<option value="#4B0082">
													Indigo
												</option>
												<option value="#0000FF">
													Blue
												</option>
												<option value="#00FF00">
													Green
												</option>
												<option value="#FFFF00">
													Yellow
												</option>
												<option value="#FF7F00">
													Orange
												</option>
												<option value="#FF0000">
													Red
												</option>
												<option value="#FFF">
													Default
												</option>
											</select>
										</div>

										<div class="col-md-12">
											<textarea id="textfield" style="display:none;color: #777777;" name="textfield" cols="10" rows="14"></textarea>
											<iframe id="framefield" name="framefield" class="ifrm col-md-12" scrolling="no" >
											</iframe>
											<div class="col-md-12 tag_wrapper" id="mytags">
												<div class="col-md-1"  id="tagsButton">Tags</div>
												<ul id="myULTags"class="col-md-12">

												</ul>
											</div>
											<button type="button" id="preview" class="btn-primary btn col-md-1" value="Post Question" data-toggle="modal" data-target=".sigin" onclick="submit_form()">Preview</button>
										</div>
									</div>
								</div>




								<div class="modal fade sigin col-md-12" id="sign" tabindex="-1" role="dialog" >
									<div class="modal-dialog modal-lg">
										<div class="modal-content col-md-8 col-md-offset-2">
											<form id="postQuestion" name="postQuestion" action="/postQuestion" method="post">
												<div class="row showe" >
													<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
														<div id="show" >

														</div>
														<input style="display:none" type="text" id="demo" name="demo"   />
														<div id="mytags1">
														</div>
														<button type="submit" id="sub" class="btn btn-primary" >Post Question</button>
													</div>

												</div>
											</form> 
										</div>
									</div>
								</div>
							</div>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>
