	<!doctype html>
	<html>
	<head>
		<title>
			Whiztok
		</title>
		
		<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
		<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
		<link href="stylesheets/head.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="plugins/bootstrap.js"></script>
		<script type="text/javascript" src="socket.io/socket.io.js"></script>
		<script type="text/javascript" src="javascripts/clients.js"></script>			
		
	</head>
	<body>
		<%-include videomodel%>
		<%-include header%>
		<div class="container-fluid row">
			<div class="row">
				<div class=" col-md-2 hidden-xs" id="left_bar">
					<div class="row">
						<div class="propic_wrapper">
							<div class="col-md-12 pic_out">
								<div class="col-md-6 col-md-offset-3 profile_pic ">
									<img src="<%=image%>" height="70px" width="70px" class="img-circle">
								</div>
							</div>
							<div class="col-md-12 name_out">
								<div class="name_in"><div class="namein"><%=user.fullName%></div></div>
								<input style="display:none" type="text" id="user_id" value=<%=user._id%> />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" id="list_wrapper">
							<ul>
								<li ><span class="line"></span><span  id="op_dash"></span> <a class="override" href="/dashboard">Dashboard</a></li>
								<li><span class="line"></span><span id="op_ask"></span><a class="override" href="/ask">Ask a Question</a></li>
								<li><span class="line"></span><span id="op_grp"></span><a class="override" href="/mygroups">My Groups</a></li>
								<li class="currentPage"><span class="line"></span><span id="op_pro"></span><a  class="override" href="#">Profile</a></li>
							</ul>
						</div>
					</div>
				</div>
				
						
			<div class="right_bar col-md-10 col-xs-12">
					<div class="title_bar row">
						<div class="title1"><span id="home"></span><a href="/dashboard">Home</a></div>
						<div class="title2"><span id="dash"></span>Profile</div>
					</div>
					<div class="heading col-md-12">
						<div class="col-md-4 heading_name">
							<div class="row h_name">
								<div class="h_name_in">Profile</div>
							</div>
						</div>
					</div>
				<div id="profile_wrapper" class="col-md-10 col-md-offset-1">
					<div class="pro_wrapper col-md-12  col-xs-12">
					<div id="personal_wrapper" class="thumbnail col-md-5">
							<div class="profile_pic_wrapper col-md-4 col-xs-4">
							<img src="<%=image%>" class="img-responsive img-circle">
							</div>
							<div class="col-md-8 col-xs-8 profile_detail_wrapper">
								<div class="fullname">
									<div class="full_name"><%=user.fullName%></div>
								</div>
								<div class="emailid">
									<div class="email"><%=user.email%></div>
								</div>
								<div class="ratings">
									<div class="rate"><b>Ratings: </b> <%=user.rating%></div>
								</div>
							</div>
					</div>
					<div id="skill_wrapper" class="thumbnail col-md-6 col-md-offset-1">
							<div class="title_wrapper">
								<div class="col-md-10 col-xs-9 title_content"><b>Skill Set</b></div>
							</div>
							<div id="matter" class="thumbnail">
								<%if (user.skills){%>
								<%for (var i=0; i< user.skills.length;i++){%>
								<%console.log(i)%>
								<span class="label label-default" id="labeli"><%=user.skills[i]%></span>
								<%}%>
								<%}%>
							</div>
							<div class="title_wrapper">
								<div class="col-md-10 col-xs-9 title_content"><b>Badges</b></div>
								
							</div>
							<div id="matter" class="thumbnail">
								<%if (user.badges.length>0){%>
								<%for (var i=0; i< user.badges.length;i++){%>
								<span class="label label-default" id="labeli"><%=user.badges[i]%></span>
								<%}%>
								<%}%>
								<%if (user.badges.length==0){%>
								<span class="label label-default" id="labeli" >You have not earned any badge</span>
								<%}%>
							</div>
					</div>
					</div>
					<div class="col-md-12 hidden-xs">
					<div id="q_wrapper" class="thumbnail col-md-12 hidden-xs">
					<div class="btn-group col-md-4 col-md-offset-6" id="but">
							  <button type="button" class="btn col-md-10" id="but1">My Questions</button>
							  <button type="button" id="but2" class="btn dropdown-toggle" data-toggle="dropdown">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu " role="menu">
							    <li><a href="/mygroupAsked">Asked Questions</a></li>
							    <li><a href="/mygroupPolled">Polled Questions</a></li>
							  </ul>
							</div>

					
						<div class="row" id="space"> </div>
					<div id="questions_list">
					</div>	
					</div>
					</div>

				</div>
				</div>
				</div>
			</div>
	
	<script type="text/javascript">		
		$(document).ready(function(){
			
			// $.ajax({
			// 	url:'askedQuestion',
			// 	datatype:'json',
			// 	type:'post',
			// 	data:'',
			// 	beforeSend:function(){
			// 		console.log("submitting form ");
			// 	},

			// 	success: function(data){
			// 		console.log("data here is"+JSON.stringify(data.title.length));
					
			// 		if(data.title.length>0){
			// 		for(var i=0;i< data.title.length;i++){
			// 			var d=data.title[i]
			// 		 newdata='<div class="questions"><b>'+(i+1) +".</b> &nbsp;&nbsp;"+d+'</div>';
			// 		// 
			// 		console.log(d);
			// 		$('#questions_list').append(newdata);
					
			// 	}
			// }
			// 	},
			// 	error: function(jqXHR, textStatus, errorThrown){
			// 		console.log("error occured");
			// 	}
			// })
		$('.btn-group li').on('click', 'a', function(e){
		  e.preventDefault(); 
		  var url = $(this).attr('href'); 
		  var url1=$(this).html();
		   $('#but1').html(url1);
		   $.ajax({ 
				    url: url,
				    datatype:'json',
					type:'post',
					data:'',
				beforeSend:function(){
					console.log("submitting form ");
				},
				success: function(data){
					console.log(JSON.stringify(data.title.length));
					$('#questions_list').html("");
					if(data.title.length>0){
						for(var i=data.title.length -1;i>=0 ;i--){
							newdata='<div class="group_list col-md-12">'+
											'<div id="ques_wrapper" class="col-md-12 thumbnail col-xs-12">'+
												'<div class="ques_title">'+
												'<a href="/question?id='+data.id[i]+' ">'+data.title[i]+'</a></div>'+
												'<div class="ques_desc">'+
													
														data.description[i]
													
												'</div>	'+
															
											'</div>'+
										'</div>';
						$('#questions_list').append(newdata);

						}

					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					console.log("error occured");
				}
			});
		});
		})
	</script>
	</body>
	</html>
