<!doctype html>
<html>
<head>
	<title>
		Whiztok
	</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/settings.css">
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset-fonts/reset-fonts.css">
	<link href="stylesheets/master.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/head.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>

	<script type="text/javascript" src="plugins/bootstrap.js"></script>
	<script type="text/javascript" src="javascripts/settings.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="plugins/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="javascripts/script.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/clients.js"></script>			

    <script>
        $(function(){
            var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua','node.js'];
            $('#myULTags').tagit({
                availableTags: sampleTags, // this param is of course optional. it's for autocomplete.
                // configure the name of the input field (will be submitted with form), default: item[tags]
                itemName: 'item',
                fieldName: 'tags'
            });
            var eventTags = $('#eventTags');
            var addEvent = function(text) {
                $('#events_container').append(text + '<br>');
            };
            eventTags.tagit({
                availableTags: sampleTags,
                beforeTagAdded: function(evt, ui) {
                    if (!ui.duringInitialization) {
                        addEvent('beforeTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
                    }
                },
                afterTagAdded: function(evt, ui) {
                    if (!ui.duringInitialization) {
                        addEvent('afterTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
                    }
                },
                beforeTagRemoved: function(evt, ui) {
                    addEvent('beforeTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
                },
                afterTagRemoved: function(evt, ui) {
                    addEvent('afterTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
                },
                onTagClicked: function(evt, ui) {
                    addEvent('onTagClicked: ' + eventTags.tagit('tagLabel', ui.tag));
                },
                onTagExists: function(evt, ui) {
                    addEvent('onTagExists: ' + eventTags.tagit('tagLabel', ui.existingTag));
                }
            });
            });
    </script>	
</head>

<body>
	<%-include videomodel%>
	<%-include header%>
	<div class="container-fluid row">
		<div class="row">
			<div class=" col-md-2 hidden-xs" id="left_bar">
				<div class="row">
					<div class="propic_wrapper">
						<div class="col-md-12 pic_out">
							<div class="col-md-6 col-md-offset-3 profile_pic " >
								<img src="<%=image%>" height="70px" width="70px" class="img-circle">
							</div>
						</div>
						<div class="col-md-12 name_out">
							<div class="name_in"><div class="namein"><%=user.fullName%></div></div>
							<input style="display:none" type="text" id="user_id" value=<%=user._id%> />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="list_wrapper">
						<ul>
							<li><span class="line"></span><span  id="op_dash"></span> <a class="override" href="/dashboard">Dashboard</a></li>
							<li><span class="line"></span><span id="op_ask"></span><a class="override" href="/ask">Ask a Question</a></li>
							<li><span class="line"></span><span id="op_grp"></span><a class="override" href="/mygroups">My Groups</a></li>
							<li><span class="line"></span><span id="op_pro"></span><a class="override" href="/profile">Profile</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right_bar col-md-10 col-xs-12">
				<div class="title_bar row">
					<div class="title1"><span id="home"></span><a href="/dashboard">Home</a></div>
					<div class="title2"><span id="dash"></span><b>Settings</b></div>
				</div>
				<div class="heading col-md-12">
					<div class="col-md-4 heading_name">
						<div class="row h_name">
							<div class="h_name_in">My Account</div>
						</div>
						
					
					</div>
					<div id="alerthere" class="col-md-6 col-md-offset-1">

					</div>
				</div>
				<div class="modal fade whenpopup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					 <div class="modal-dialog modal-lg">
							<div class="modal-content col-md-10"  >
								<form id="uploadImage" name="uploadImage" action="/changePicture" method="post" enctype="multipart/form-data">

									<img src="<%=image%>"  class="img-responsive img-thumbnail col-md-4 col-md-offset-1" id="formImage" >
									<input type="file" name="image" class= "col-md-4 col-md-offset-1 " id="inputImage">	
									<button type="submit" class="btn-primary btn col-md-4 col-md-offset-1" id="uploadButton"> Save Image </button>	
								</form>
							</div>
					</div>
								
				</div>
				
				<div id="profile_wrapper" class="col-md-10 col-md-offset-1">
					<form id="settings" name="settings" action="/settings" method="post" >
						<div class="pro_wrapper col-md-6 ">
							<div id="personal_wrapper" class="thumbnail col-xs-12">
								<div class="profile_pic_wrapper col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 " >
									<img src="<%=image%>" data-toggle="modal" data-target=".whenpopup" class="img-responsive img-circle" id="picturechange">
								</div>

								<div class="col-xs-12  row profile_detail_wrapper">
									<div class="fullname" >
										<div>
										<input class="col-md-8 col-md-offset-2 col-xs-12"  type="text" id="nametxtbox" name="nametxtbox" value=<%=user.fullName%> >
										</div>
									</div>

									<div class="col-md-8  col-md-offset-2 col-xs-12 email "><%=user.email%></div>
									
								</div>
							</div>
							<div id="pwd" class="thumbnail col-xs-12">
								<div class="title_wrapper">
									<div class="col-md-12 col-xs-9 title_content"><b>Change Password</b></div>
								</div>
								<br>	
								<input class="col-md-8 col-md-offset-2 col-xs-12" type="password" id="txtpwd" placeholder=" New Password" name="pwd">
								<br>
								<input class="col-md-8 col-md-offset-2 col-xs-12" type="password" id="txtpwdc" placeholder="Confirm Password" name="cpwd">
							</div>
						</div>
						<div id="skill_wrapper" class=" col-md-6 thumbnail col-xs-12">
								<div class="title_wrapper">
									<div class="col-md-10 col-xs-9 title_content">
										<b>Skill Set</b>
									</div>
									<div class="col-md-2 col-xs-2 title_content_edit">
										<a id="editskill" data-status="normal"><span id="edit"></span></a>
									</div>
								</div>
								<div class="matter" >
									<input class="col-md-6 col-md-offset-2" type="text" id="skilltextbox" name="skilltextbox" style="display:none" >
									<button type="button" id="addskill" class="col-md-2 btn-primary btn col "  style="display:none"> Add </button>
									<div id="edit_skill" class="col-md-12">
										 <ul id="myULTags" style="overflow:auto">
											<%for(var i=0;i< user.skills.length;i++){%>
                				               <li class="labeli"><%=user.skills[i]%></li>
                				            <%}%>
            							</ul>
      							  	</div>
      							</div>
      							<div id="save_wrapper">
								<button type="submit" id="save" class="btn-primary btn col">Save Settings</button>
								</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>