<!doctype html>
	<html>
		<head>
			<title>
				Whiztok
			</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/signup.css">
			<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
			<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset-fonts/reset-fonts.css">
			<link href="stylesheets/master.css" rel="stylesheet" type="text/css">
			<link href="stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">
		    <link href="stylesheets/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

			<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap.js"></script>
			<script type="text/javascript" src="javascripts/signup.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="plugins/js/tag-it.js" type="text/javascript" charset="utf-8"></script>

		    <script>
		        $(function(){
		            var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
		            $('#myULTags').tagit({
		                availableTags: sampleTags, // this param is of course optional. it's for autocomplete.
		                // configure the name of the input field (will be submitted with form), default: item[tags]
		                itemName: 'item',
		                fieldName: 'tags'
		            });
		            var eventTags = $('#eventTags');
		            var addEvent = function(text) {
		                $('#events_container').append(text + '<br>');
		            };
		            eventTags.tagit({
		                availableTags: sampleTags,
		                beforeTagAdded: function(evt, ui) {
		                    if (!ui.duringInitialization) {
		                        addEvent('beforeTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
		                    }
		                },
		                afterTagAdded: function(evt, ui) {
		                    if (!ui.duringInitialization) {
		                        addEvent('afterTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
		                    }
		                },
		                beforeTagRemoved: function(evt, ui) {
		                    addEvent('beforeTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
		                },
		                afterTagRemoved: function(evt, ui) {
		                    addEvent('afterTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
		                },
		                onTagClicked: function(evt, ui) {
		                    addEvent('onTagClicked: ' + eventTags.tagit('tagLabel', ui.tag));
		                },
		                onTagExists: function(evt, ui) {
		                    addEvent('onTagExists: ' + eventTags.tagit('tagLabel', ui.existingTag));
		                }
		            });
		            });
		    </script>	
		</head>
		<body>
			<div class="container-fluid col-md-12">	
				<div class="row">

					<div id="registerStatus" class="col-md-6 col-md-offset-3"  >
						

	                </div>
	             </div>
				<div class="main row col-md-10 col-md-offset-1 " id="home" >
					<div class="title col-md-4 col-md-offset-4 col-xs-12">
						W H I Z T O K
					</div>
					<form name='createUser' id='createUser' action='createUser' method='post'>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<input style="display:none" type="text" id="email" placeholder="Email" name="email" value=<%=email%> >
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input  type="text" id="usrtxtbox" placeholder="Full name" name="fullName">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input type="password" id="pwdtxtbox" placeholder="Password" name="pwd">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<input type="password" id="cpwdtxtbox" placeholder="Confirm password" name="cpwd">
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-md-offset-4 ">
								<button style="disabled:true" type="button" id="skilltxtbox"  value="skill" name="skill">Add your skills</button>
							</div>	
						</div>
						<div  class="row col-md-6 col-md-offset-3" id="skilldiv" >
							<ul id="myULTags" style="background-color:white; height:100px; margin-left:0;">
			            			            
			        		</ul>
						</div>
						
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<button type="submit" id="signuptxtbox"  value="Sign-up" name="signup">Get in</button>
							</div>	
						</div>
					</form>
				</div>			
			</div>
		</body>
	</html>