@font-face{
	font-family: 'Regular';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	body{
		-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	
	}
	html{
	overflow:hidden
}


	#head{
		font-size: 20px;
		font-family: 'Regular';
		color: #A7A37E;
		margin-top: -15px;
		
	}
		
	#userdetails{
		text-align: right;
	}
	
	#setting:before
	{
		content: '\e6a1';
		font-family: 'icomoon';
		color: #962D3E;	
		font-size: 1.5em;
		margin-right: 6px;
	}
	a{
		text-decoration: none !important;
		color:#d0d0d0;
	}
	a:hover{
		text-decoration: none !important;
		color:#fff;
	}
	
	#left_bar
	{
		background-color: #EEEEEE;
		height: 645px;
		color: #555555;
		border-bottom: solid 1px #EFEFEF;
		border-right: solid 1px #EFEFEF;
		padding-left: 0;
	}
	.propic_wrapper
	{
		height: 70px;
		padding: 0;
		margin-top: 40px;	
	}
	.pic_out
	{
		padding: 0;
		/*border-radius: 50%;*/
	}
	.profile_pic
	{
		margin-top: 10px;
		padding: 0;
	}
	.name_in
	{
		 
		padding: 10px;
		font-family: 'Regular';
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
	}
	#list_wrapper
	{
		
		padding-right: 0px;

		margin-top: 30px;
	}
	#list_wrapper ul
	{

		
		height: 50px;
		padding: 0;

	}


	#list_wrapper li
	{

		
		list-style: none;
		height: 43px;
		padding-top: 12px;
		padding-left: 30px;
		font-family: 'Regular';
		font-size: 18px;
		display: block;
		border-bottom: solid 1px #EFEFEF;
		position: relative;

	}
	#list_wrapper li:hover
	{
		color: white;
		background-color: #00BE9C;
	}
	.line
	{
		display: none;
		height: 43px;
		width: 7px;
		position: absolute;
		top: 0;
		left: 0px;
		background: #3C8DBC;
		box-shadow: 2px 0 6px #aaa;
	}
	.override{
		color:#555555;
	}
	#list_wrapper ul li:hover a:hover{
			text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
			background-color: #00BE9C;
	}
.currentPage{
			text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
			background-color: #00BE9C;

	}
	#op_dash:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_ask:before
	{
		content: '\e646';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_grp:before
	{
		content: '\e688';
		font-family: 'icomoon';
		margin-right: 7px;

		font-size: 16px;
	}
	#op_pro:before
	{
		content: '\e67e';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	.right_bar
	{

		height: 645px;
		overflow: scroll;
		
	}

	.title_bar
	{
		background-color: #00BE9C;
		border-bottom: solid 1px #EFEFEF;
		color: white;
	}
	#home:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 10px;

	}
	#dash:before
	{
		content: '\e60b';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 7px;
	}
	.title1
	{
		
		font-size: 12px;
		
		padding: 10px;

		border-radius: 2%;
		float: left;
		text-align: center;
		/*margin-right: 5px;*/
		
		height: 35px;

	}
	.title2
	{
		
		font-size: 12px;
	
		padding: 10px;
		border-radius: 2%;
		float: left;
		text-align: center;
		
		
		height: 35px;
	}
	.heading
	{
		
		height: 85px;
	}
	.heading_name
	{
		
		height: 85px;
		
	}
	.h_name
	{
		
		height: 50px;
		
	}
	.h_name_in
	{
		font-family: sans-serif;
		font-size: 24px;
		margin-top: 15px;
		
		color: #444757;
	}

	.welcome
	{
		
		height: 35px;
		padding: 10px;
		
	}
	.welcome_name
	{
		font-family: sans-serif;
		font-size: 12px;
		color: #444757;
	}

.photo
{
	float: right;
	margin-top: 3px;
}
.ques_list
{
	padding: 20px;
	
	
}
#ques_wrapper
{
	background-color: #F5F5F5;
	float:left;
	padding-bottom: 15px;
	
}
.ques
{
	
}
.questioner
{
	

	padding-top: 20px;
	

}
.pic,.pic_wrapper
{
	
	
	
	height: 60px;
}

.image
{
	height: 60px;
	width: 60px;
	box-shadow: 0 0 10px #aaa;
	border-radius: 2px;
}
.info_wrapper
{
	
	padding: 0;
	height: 60px;
}
.person
{
	height: 30px;
}
#online:before
{
	content: '\e608';
	font-family: 'icomoon';
	margin-left: 15px;
}
.name
{
	
	font-family: sans-serif;
	font-size: 16px;
	
}
.time
{
	height: 30px;
}
.timein{
	font-size: 11px;
	font-family: sans-serif;
}
.ques_title{
	font-family: sans-serif;
	font-size: 17px;
	padding: 4px;
	color: #616161;
	}
.ques_desc{
	padding: 5px;
	font-family: sans-serif;
	font-size: 13px;
	height: 40px;
	color: #737373;
	width: 600px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}




.arrow
{
	padding: 5px;
}
#head_op:before
	{
		content: '\e623';
		font-family: 'icomoon';
		font-size: 16px;
	}

.user-detail{
	text-align: left;
	text-indent: 5px;
	font-size: 16px;

}
.mini-details{
	text-align: right;
}
#notifix li{
	color: #EFECCA;
}




.msgtymdetail{
	border-radius: 3px;
	text-align: right;
	font-size: 12px;
	background-color: #EEEEEE;
	padding-bottom: 2px;
}

/*************caret settings**************/

#sidenotif{
	margin: 24px 0 0;
}
#caretSetting:before{
	margin: 0;
	font-family: 'icomoon';
	content: '\e623';
		margin-top: 13px;
}
.displayName{
	font-family:'Regular';
	font-size: 16px;
	padding-bottom: 2px;
}

