@font-face{
	font-family: 'Regular';
	src:url('../fonts/PrintClearly.otf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face{
	font-family: 'Argh';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Alex';
	src:url('../fonts/AlexBrush.ttf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	body{
		background-image: url('../images/blurpeople.jpg');
		background-size: cover;
		background-attachment: fixed;
	}

	.icon-twitter4:before{
		content: '\e699';
	}
	.icon-facebook4:before{
		content: '\e69c';
	}
	.icon-mail2:before{
		content: '\e6b9';
	}
	.icon-globe:before{
		content: '\e618';
	}
	
	#blue{
		color: #167FBC;
		font-size: 42px;
		text-align: center;
		font-family: 'Argh';
	}
	
.nav-head{
	/*background-image: linear-gradient(to bottom, #70C1F0 0px, #3c8dbc 100%);*/
	background-color: #18506F;
	font-family: sans-serif;
	box-shadow: 0px 2px 2px #808080;
}
	.nav-head a{
		color: white;
	}
	.nav-head button{
		color: white;
	}
	.navbar-toggle .icon-bar{
		background-color: white;
	}
	
#tagline{
	margin-top: 286px;
	font-size: 41px;
	text-align: center;
	font-family: 'Argh';
	color: #d1d1d1;
	background-color: rgba(124,40,43,0.4);
	text-shadow:0px 0px 5px #3c8dbc;
}

#social_grad{
	margin-top: 225px;
    bottom:0;
	position: fixed;
	height: 50px;
	background-color: #18506F;
	z-index: 1;
}

#social{
	font-size: 1.5em;
	color: white;

	text-align: center;
	font-family:'Argh';
	margin-top: 10px;
	text-shadow:0px 0px 3px #666666;	
}
