#headbar{
		background-color: #333333;
		height:57px;
		color:#fff;
		z-index: 10;
}
#head_bar{
		background-color: #333333;
		height:57px;
		
		z-index: 10;
}
#logo{
		font-size: 45px;
		font-family: 'Regular';
		margin-top: -5px;
		color: white;
		margin-left: 50px;
	}
#tagline{
		font-size: 38px;
		font-family: 'Regular';
		text-align: center;
		text-shadow: 0px 0px 1px #777777;
		color: #fff;
	}
#headername{

	text-align: center;
	font-family: 'Regular';
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
	color: white;
	background-color: #454545;
}
#count{
	margin-right: 10px;
	cursor: pointer;
	background-color:#00BE9C;
	color: white;
	}
#notifix{
	margin-top: 10px;
}
#notifix li{
	background-color: azure;
	color: #222;
	cursor: pointer;
}
#notifix li a:hover:before{
	background-color: white;
	color: red;
	
}
#caretSetting{
	margin: 0;
	margin-top: 13px;
	content: '\e60b';
	font-family: 'icomoon';
	color: #fff;
}
#sidenotif{
	margin: 24px 0 0;
}
#setting:before
	{
		content: '\e6a1';
		font-family: 'icomoon';
		color:#00BE9C;	
		font-size: 1.5em;
		margin-right: 6px;
	}
#logout:before
	{
		content: '\e66d';
		font-family: 'icomoon';
		color: #00BE9C;	
		font-size: 1.5em;
		margin-right: 6px;
	}

.msgs
	{
		height: 40px;
		margin-top: 10px;	
	}
.override{
		color:#555555;
	}
	
.tools
	{
		font-size: 14px;
		font-family: sans-serif;
		color: #00BE9C;
		
	}
#tab{
	background-color: #000;
	margin-top: 12px;
	background-image: linear-gradient(to bottom,#000 0,#000 100%);
	border-color: #000;

}

.displayName{
	font-family:'Regular';
	font-size: 16px;
	padding-bottom: 2px;
}
.pre
{
	background-color: #F5F5F5;
	margin: 0;
}
.usernamehead{

	color: #222;
	font-family: Regular;
	font-size: 16px;
	font-weight: 600;
	float: left;

}
.userimghead{

	float: left;
	height: 48px;
	padding:0;
}
