@font-face{
	font-family: 'Regular';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	body{
		-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
		
html{
	overflow: hidden;
}

	#left_bar
	{
		background-color: #EEEEEE;
		height: 645px;
		color: #555555;
		border-bottom: solid 1px #EFEFEF;
		border-right: solid 1px #EFEFEF;
		padding-left: 0;
	}
	.propic_wrapper
	{
		height: 70px;
		padding: 0;
		margin-top: 40px;	
	}
	.pic_out
	{
		padding: 0;
		/*border-radius: 50%;*/
	}
	.profile_pic
	{
		margin-top: 10px;
		padding: 0;
	}
	.name_in
	{
		 
		padding: 10px;
		font-family: 'Regular';
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
	}
	#list_wrapper
	{
		
		padding-right: 0px;

		margin-top: 30px;
	}
	#list_wrapper ul
	{

		
		height: 50px;
		padding: 0;

	}


	#list_wrapper li
	{

		
		list-style: none;
		height: 43px;
		padding-top: 12px;
		padding-left: 30px;
		font-family: 'Regular';
		font-size: 18px;
		display: block;
		border-bottom: solid 1px #EFEFEF;
		position: relative;

	}
	#list_wrapper li:hover
	{
		color: white;
		background-color: #00BE9C;
	}
	.line
	{
		display: none;
		height: 43px;
		width: 7px;
		position: absolute;
		top: 0;
		left: 0px;
		background: #3C8DBC;
		box-shadow: 2px 0 6px #aaa;
	}
	.override{
		color:#fff;
	}
	#list_wrapper ul li:hover a:hover{
			text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
			background-color: #00BE9C;
	}
	.currentPage{
			text-decoration: none;
			cursor: pointer;
			font-family: sans-serif;
			color: white;
			background-color: #00BE9C;

	}
	#op_dash:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_ask:before
	{
		content: '\e646';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_grp:before
	{
		content: '\e688';
		font-family: 'icomoon';
		margin-right: 7px;

		font-size: 16px;
	}
	#op_pro:before
	{
		content: '\e67e';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	.right_bar
	{

		height: 645px;
		overflow: auto;
	}
	.title_bar
	{
		background-color: #00BE9C;
		border-bottom: solid 1px #EFEFEF;
		color: white;
	}
	#home:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 10px;

	}
	#dash:before
	{
		content: '\e6a1';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 7px;
	}
	.title1
	{
		
		font-size: 12px;
		
		padding: 10px;

		border-radius: 2%;
		float: left;
		text-align: center;
		/*margin-right: 5px;*/
		
		height: 35px;

	}
	.title1 a
	{
		color:white;
	}
	.title1 a:hover
	{
		color: #333333;
	}
	.title2
	{
		
		font-size: 12px;
	
		padding: 10px;
		border-radius: 2%;
		float: left;
		text-align: center;
		
		
		height: 35px;
	}
	.heading
	{
		
		height: 85px;
	}
	.heading_name
	{
		
		height: 85px;
		
	}
	.h_name
	{
		
		height: 50px;
		
	}
	.h_name_in
	{
		font-family: sans-serif;
		font-size: 24px;
		margin-top: 15px;
		
		color: #444757;
	}

	.welcome
	{
		
		height: 35px;
		padding: 10px;
		
	}
	.welcome_name
	{
		font-family: sans-serif;
		font-size: 12px;
		color: #444757;
	}

	#profile_wrapper{
		background-color: #fff;
		padding: 15px;
		height: 490px;

	}
#personal_wrapper
	{
		padding: 20px;
		background-color: #F5F5F5;
		height: 240px;

	}
	.profile_pic_wrapper img
	{
		width:100px;
		height: 100px;
		box-shadow: 0px 0px 2px #777777;
	}
	.profile_detail_wrapper
	{
		
		margin-top: 20px;
	}
	.full_name
	{
		font-size: 17px;
		font-family: 'Regular';
		
		color: #333;
		height: 30px;
	}
	.full_name_edit
	{
		
		font-family: 'Regular';
	}
	.full_name_edit a,.email_edit a,.title_content_edit a
	{
		color: #333;
		font-size: 14px;
	}
	.full_name_edit a:hover,.email_edit a:hover,.title_content_edit a:hover
	{
		color: #CCC79A;
		font-size: 14px;
		text-decoration: none;
	}
	#edit:before
	{
		content: '\e65a';
		font-family: 'icomoon';
		color: #343642;
		
		font-size: 14px;
	}
	#edit:hover{
		cursor: pointer;
	}
	.email
	{
		font-size: 1.2em;
		font-family: 'Regular';
		margin-top: 10px;
		color: #222;	
		
	}
	.email_edit
	{
		font-size: 0.8em;
		font-family: 'Regular';
		padding: 10px;
		color: #333;			
	}
	#pwd{
		
		background-color: #F5F5F5;
		height: 191px;
	}
	#skill_wrapper
	{
	
		background-color: #F5F5F5;
		height: 450px;
	}
	.title_wrapper
	{
		margin-top: 20px;
		font-size: 15px;
		font-family: 'Regular';
		color: #333;
	}
	.matter
	{
		
		overflow: auto;
		float: left;
		width: 100%;
		background-color: #fff;
		height: 300px;
		border-radius: 3px;
		margin-bottom: 20px;
		margin-top: 20px;
		padding: 20px;
	}
	.matter a
	{
		color: #777777;
	}
	
	#txtpwd{
		margin-top: 20px;
		height: 30px;
	}
	#txtpwdc{
		margin-top: 10px;
		height: 30px;
	}
	#txtpwd,#txtpwdc{
		border-color: #CCC; 
	    border-width:1px;
	    border-style:solid;
	    border-radius:5px;
	    background-color:#fff;
	
		color: #000;
	}
	#skilltextbox{
		border-color: #CCC; 
	    border-width:1px;
	    border-style:solid;
	    border-radius:5px;
	    background-color:#fff;
		height: 30px;
		color: #000;
		margin-top: 5px;
	}

	#addskill{
		margin: 5px;
		height:30px;
		background-image: linear-gradient(to bottom, #96514C 0px, #962D3E 100%);
	}
	#nametxtbox{
		border-color: #CCC; 
	    border-width:1px;
	    border-style:solid;
	    border-radius:5px;
	    background-color:#fff;
		height: 30px;
		color: #000;
	}
	#save{
		background-image: linear-gradient(to bottom, #6DE5BC 0px, #00BE9C 100%);
		border-color: #00BE9C;
		font-family: 'Regular';
		margin-bottom: 10px;

	}
	#save_wrapper
	{
		padding: 30px;
	}
	
	
	a{
	text-decoration: none !important;
	color:#d0d0d0;
}
a:hover{
	text-decoration: none !important;
	color:#fff;
}
.labeli
	{
		background-color: #e6eded;
		color :#333;
		font-size: 14px;
		font-family: 'Regular';
		border-color: #CCC; 
	    border-width:1px;
	    border-style:solid;
	    border-radius:3px;
	    width: auto;
	    height: 30px;

	}
.cross
{
	position: relative;
	background-color: #e6eded;
	cursor: pointer;
	}
#alerthere{
	
	color:#333;
		font-family: 'Regular'; 
		
		
}
.alert-success1
{
	padding:4%;
	background-color: #e6eded	
}
#formImage
{
	
	margin-top: 2%;
	margin-bottom: 2%;

}
#inputImage{
	margin-top: 10%
}
#uploadButton{
	margin-top: 5%
}
#myULTags{
	border-width: 0px;
}


/*************************/
#count{
	margin-right: 10px;
	cursor: pointer;
	}
#headername{
	text-align: center;
	font-family: 'Regular';
	font-size: 15px;
	background-color: #72091A;
	border-radius: 5px;
	padding: 5px;
}
#notifix{
	margin-top: 10px;
}

.user-detail{
	text-align: left;
	text-indent: 5px;
	font-size: 16px;

}
.mini-details{
	text-align: right;
}
#notifix li{
	color: #EFECCA;
}



.msgdetail{
	border-radius: 3px;
	background-color: #E4EAEA;
}
.msgtymdetail{
	border-radius: 3px;
	text-align: right;
	font-size: 12px;
	background-color: #E4EAEA;
	padding-bottom: 2px;
}

/*************caret settings**************/

#sidenotif{
	margin: 24px 0 0;
}
#caretSetting:before{
	margin: 0;
	font-family: 'icomoon';
	content: '\e623';
		margin-top: 13px;
}.displayName{
	font-family:'Regular';
	font-size: 16px;
	padding-bottom: 2px;
}

label.error {
margin-left:70px;
color:#E2413E;
margin-bottom: 3px;
font-family: 'Regular';
font-size: 15px;
}
