#pop
{
	min-height: 450px;
}

#caller
{
	min-height: 450px;
	border-right: solid 1px #EEEEEE;
}
#textchat
{
	min-height: 450px;
}
#chatshow
{
	min-height: 390px;
	border-style:none;
	border-color: Transparent; 
	overflow-y: auto;
	outline: none;
	
	
}
.modal-footer
{
margin-top: 0;
padding: 13px 20px 13px;
}

#send,#close
{
	background-image: linear-gradient(to bottom, #6DE5BC 0px, #00BE9C);
	color: white;

}
#close:hover{
	background-image: linear-gradient(to bottom, #6DE5BC 0px, #00BE9C);
}
.modal-header
{
	background-color: #333333;
	color: white;
}
.voteid
{
	height: 85px;

}
.vdobtn
{
	
	color: white;
	padding: 9px,16px;
	margin-top: 18px;
	background-image: linear-gradient(to bottom, #6DE5BC 0px, #00BE9C);
}
.vdobtn:hover{
	color: white;
	background-image: linear-gradient(to bottom, #6DE5BC 0px, #00BE9C);
}
#up:before
{
	content: '\e608';
	font-family: 'icomoon';
	margin-right: 7px;
}
#down:before
{
	content: '\e607';
	font-family: 'icomoon';
	margin-right: 7px;
}
#vote1
{
	height: 40px;
	background-color: #962D3E;
	color: white;
	font-family: sans-serif;
	font-size: 18px;	
}
.review1
{
	padding: 20px;
	

	height: 50px;
	margin-top: 5px;
	margin-left: 17px;

}
#toggler{

	margin-left: 12px;
}